<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          I have over 14 years of experience as a software engineer, and have
          worked at various clients which includes AT&T, Deloitte, KPMG,
          McKinsey & Company. While I'm a proficient full-stack developer, my
          expertise and interest is in building scalable web applicatins using
          javascript ecosystem (React, Angular, NodeJS).
        </p>
        <p>
          I am a hands-on senior software engineer experienced in wide variety
          of frontend-backend technologies and software tools. I love building
          things. I'm looking for a senior individual contributor role where I
          can be involved in implementation part of the web application
          (frontend-backend), and gain experience with architecture.
        </p>
        <p>
          I am always looking out for and learning new and better approaches and
          technologies that help me do a better job
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>
            Extensive experience in developing single – page applications (SPAs)
            using React JS, JavaScript, TypeScript, Angular, NodeJS, HTML5,
            CSS3, JSON, Material-UI
          </li>
          <li>Experienced in C#, ASP.NET MVC, ASP.NET Web API</li>
          <li>
            Proficient in coding and developing the new program. Ability to
            produce best result in pressure situation.
          </li>
          <li>
            An excellent problem-solver, quick learner, independent worker. Able
            to quickly grasp complex systems and identify opportunities for
            improvements and resolution of critical issues.
          </li>
          <li>
            Able to communicate effectively with both technical and
            non-technical project stakeholders
          </li>
          <li>Possess a Master’s degree in Computer Application</li>
        </ul>
      </div>
    </div>
  </div>
</section>
