<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Recent Project & Skills</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          AT&T - Senior Software Engineer
        </p>
        <ul>
          <li>
            Developing single-page applications using JavaScript
            ecosystem/frameworks. Involved in requirement discussions, design,
            end-to-end development and unit/integration testing. Following agile
            methodology.
          </li>
          <li>
            Primarily involved in developing single-page application using
            ReactJS, NodeJS, MongoDB (MERN Stack). Building reusable components
            in React and Angular. E.g. reusable grid, charts widgets.
          </li>
          <li>
            Developed REST APIs using NodeJS loopback framework & express.
          </li>
          <li>
            Implemented big data load into elastic search cluster through Nodejs
            REST API. Created various visualizations on Kibana/Grafana from
            elastic search data source.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>
            <b>Development Stack:</b>JavaScript, React, Angular, Node.js,
            Express, MongoDB, C#, ASP.NET Web APIs, Typescript, REST API
          </li>
          <li>
            <b>Tools/IDE:</b>VS code, Robomongo, Atlassian Sourcetree, Postman,
            Fiddler, .NET Reflector
          </li>
          <li><b>DevOps:</b>GIT, Bitbucket, Codecloud, Jenkins, SVN</li>
          <li>
            <b>visualization/BI frameworks:</b>D3, NVD3, Elasticsearch, Kibana,
            Grafana, Vega
          </li>
          <li>
            <b>Other:</b>Microsoft SQL Server, MySQL, Ruby on Rails, Python,
            Sharepoint 2010
          </li>
        </ul>
        <h3>Other Things</h3>
        <ul>
          <li>
            I live in the garden state, New Jersey, home of some of the best
            state parks, beaches and nearby mountains. I enjoy spending time
            there with my friends and family.
          </li>
          <li>
            Try to learn new tools/technologies whenever I get free time.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
